services:
  ecommerce.usersservice.api:
   # image: adrianmvalencia/ecommerce-microservice-users:v1.0
   build:
    context: .
    dockerfile: src/eCommerce.UsersService.Api/Dockerfile
   image: ecommerce.usersservice.api
   environment:
    POSTGRES_HOST: postgres-host-microserviceusers
    POSTGRES_PASSWORD: amechato
    POSTGRES_DATABASE: eCommerceUsersServiceDb
    POSTGRES_USER: postgres
    POSTGRES_PORT: 5432
   ports:
    - 9090:9090
   networks:
    - microserviceuser-network
    - ecommerce-global-network
   depends_on:
    - container-postgres

  container-postgres:
   image: postgres:18.1
   environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: amechato
    POSTGRES_DB: eCommerceUsersServiceDb
   ports:
    - 5432:5432
   volumes:
    - ./postgres-init:/docker-entrypoint-initdb.d
   networks:
    - microserviceuser-network
   hostname: postgres-host-microserviceusers

networks:
  microserviceuser-network:
   driver: bridge  
  ecommerce-global-network:
   driver: bridge
   external: true
  